name: Build Addon

on:
  push:
    branches:
      - main
    paths:
      - "purevent2ha/**"
  pull_request:
    branches:
      - main

# Ensure the workflow has permissions to read packages (GHCR)
permissions:
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to GHCR with Personal Access Token (if provided)
        if: ${{ secrets.GHCR_PAT != '' }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      
      - name: Build addon
        uses: docker/build-push-action@v4
        with:
          context: ./purevent2ha
          file: ./purevent2ha/Dockerfile
          push: false
          platforms: |
            linux/amd64
            linux/arm/v7
            linux/arm64
          tags: |
            ghcr.io/ricolaflo88/purevent2ha:latest
            ghcr.io/ricolaflo88/purevent2ha:1.0.0
